@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

/* hide right scroll bar */
body::-webkit-scrollbar {
  display: none;
}

video {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.social-icons img {
  font-size: 42px;
  margin-right: 29px;
}

.social-icons {
  position: fixed;
  /* stick to screen */
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  /* center correction */
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 99;
}

.social-icons img {
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #fafafa;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(35, 180, 224, 0.4);
  filter: invert(100%);
  /* make icons white */
}

div .icons:hover {
  filter: invert(89%) sepia(96%) saturate(5370%) hue-rotate(360deg) brightness(110%) contrast(110%);

  transform: scale(1.2);
  border-radius: 50%;
}

/*  Navbar-------*/
nav {
  position: fixed;
  top: 0;
  right: 20px;
  width: 100%;
  z-index: 10;
  display: flex;
  word-spacing: 3rem;
  justify-content: end;
  align-items: end;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 10px 15px;
  gap: 3rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

#navbar a:hover {
  color: #00e0ff;
  text-decoration: underline;
}

#navbar a {
  text-decoration: none;
  color: rgb(255, 252, 247);
  font-size: 23px;
}

.two {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #4d231c;
}

.lft-two,
.rght-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  width: 50%;
  height: 130%;
}

.rght-two {
  padding-bottom: 40vh;
}

.lft-two svg {
  margin-top: 50vh;
  width: 90%;
  transform: rotateX(50deg);
}

.rght-two h1 {
  color: #fff;
  font-size: 5vw;
}

.rght-two p {
  font-size: 1vw;
  color: #fff;
  width: 80%;
}

#monster {
  margin-top: 16vh;
  position: absolute;
  margin-left: 13vh;
  width: 35%;
  overflow: hidden;
  z-index: 2;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.three {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  width: 25vw;
  height: 70vh;
  margin-top: 10vh;
  border-radius: 20px;
  background-color: #fff;
}

.card h1 {
  margin-top: 40vh;
  font-size: 3vw;
}

.card button {
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: rgb(255, 149, 0);
  padding: 1vw 2vw;
}

#monster1 {
  height: 20rem;
  top: -15%;
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#monster2 {
  height: 20rem;
  top: -15%;
  position: absolute;
  width: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#monster3 {
  top: -15%;
  position: absolute;
  width: 85%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.lemon {
  top: -15%;
  position: absolute;
  left: 50%;
  width: 25vw;
  transform: translate(-50%, 0%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}